#caldisplay,
#sumdisplay {
  box-sizing: border-box;
  width: 280px;
  height: auto;
  overflow-wrap: break-word;
  min-height: 50px;
  border: none;
  padding: 5px 15px;
  text-align: right;
  font-family: "Inter Tight", sans-serif;
  font-size: 30px;
  background-color: #d5bdaf;
  color: #fffffe;
}

#caldisplay {
  border-top: none;
}

#sumdisplay {
  border-bottom: none;
  font-size: 20px;
  color: #f5ebe0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

button {
  width: 70px;
  height: 70px;
  font-family: inherit;
  border-radius: none;
  background-color: #e3d5ca;
  color: #fffffe;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 25px;
}

.calbackdrop {
  height: auto;
  width: max-content;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculatorContainer {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffffe;
}

.calbtnrow {
  display: flex;
  font-family: "Inter Tight", sans-serif;
}
.calbtnrowtop {
  display: flex;
  font-family: "Inter Tight", sans-serif;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  background-color: #e3d5ca;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.opbtn {
  background-color: #edede9;
  color: #d5bdaf;
}

.percent {
  background-color: #e3d5ca;
}

#btnclear,
#btndelete,
#btnpercent {
  color: #f5ebe0;
}

#btnequals {
  margin-left: 70px;
  color: #d5bdaf;
  background-color: #edede9;
}

.btnactive {
  background-color: #d6ccc2;
}
